{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'clients/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'clients/style.css' %}">

<div class="container">
{% if clients %}
<div>
    <form class="form-group" method="get" action=".">
        <label for="client">client</label>
        <input type="text" id="client" name="client" value=""/>
        <label for="suburb">suburb</label>
        <input type="text" id="suburb" name="suburb" value=""/>
        <label for="email">email</label>
        <input type="text" id="email" name="email" value=""/>
        <label for="phone">phone</label>
        <input type="text" id="phone" name="phone" value=""/>
        <input class="btn btn-primary" type="submit" value="search"/>

    </form>

    <form class="form-group" style="padding-bottom: 10px" method="get" action=".">
        <select class="col-sm-1 form-control" style="width:200px; margin-right: 50px" id="order" name="order">
            <option value="client">client</option>
            <option value="suburb">suburb</option>
            <option value="email">email</option>
            <option value="phone">phone</option>
        </select>
        <input class="btn btn-primary" type="submit" value="order by"/>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th >client</th>
            <th>street</th>
            <th>suburb</th>
            <th>postcode</th>
            <th>state</th>
            <th>contact</th>
            <th>email</th>
            <th>phone</th>
        </tr>
        </thead>
        {% for client in clients %}
        <tr>
            <td>
                <a href="{% url 'client' %}?id={{client.id}}">{{ client.client }}</a>
            </td>
            <td>{{ client.street|default_if_none:"-" }}</td>
            <td>{{ client.suburb|default_if_none:"-" }}</td>
            <td>{{ client.postcode|default_if_none:"-" }}</td>
            <td>{{ client.state|default_if_none:"-" }}</td>
            <td>{{ client.contact|default_if_none:"-" }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.phone }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% else %}
<p>No client found.</p>
{% endif %}
<div class="row" >
<a href="{% url 'client' %}" class="btn btn-primary">create</a>
</div>
<div class="row" >
        <a href="{% url 'clients_list'%}">Return Datatable List</a>
</div>
</div>

