{% load static %}

{% load i18n %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>django-datatables-view example</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'clients/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'clients/style.css' %}">
    <script type="text/javascript">
        var CLIENTS_LIST_JSON_URL = '{% url "clients_json" %}';
        // translations for datatables
        var oLanguages = {
            sInfo: '{% trans "Showing _START_ to _END_ of _TOTAL_ entries" %}',
            sInfoEmpty: '{% trans "No entries to show" %}',
            sInfoFiltered: '{% trans "(filtered from _MAX_ total entries)" %}',
            sLengthMenu: '{% trans "Show _MENU_ entries" %}',
            sProcessing: '{% trans "Processing" %}',
            sSearch: '{% trans "Filter records:" %}',
            sZeroRecords: '{% trans "No data to show" %}'
        }
        var EDIT_URL = '{% url "client" %}';
    </script>
    <script src="{% static 'clients/js/clients.js' %}"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <table class="display nowrap dataTable dtr-inline collapsed" class="display">
                <thead>
                    <tr>
                        <th>{% trans "id" %}</th>
                        <th>{% trans "client" %}</th>
                        <th>{% trans "street" %}</th>
                        <th>{% trans "suburb" %}</th>
                        <th>{% trans "postcode" %}</th>
                        <th>{% trans "state" %}</th>
                        <th>{% trans "contact" %}</th>
                        <th>{% trans "email" %}</th>
                        <th>{% trans "phone" %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                        <tr>
                            <th class="no_search"></th>
                            <th>client</th>
                            <th>street</th>
                            <th>suburb</th>
                            <th>postcode</th>
                            <th>contact</th>
                            <th>contact</th>
                            <th>email</th>
                            <th>phone</th>
                            <th class="no_search" ></th>

                        </tr>
                    </tfoot>
            </table>
        </div>
        <div class="row" >
            <button onclick=window.location.href="{% url 'client' %}" >create</button>
        </div>
        <div class="row" >
            <a href="{% url 'index'%}">Return Raw List</a>
        </div>
</div>
</body>
</html>
