{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'clients/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'clients/style.css' %}">
<div class="container">
    {% if action == 'update' and client %}
    <h1 class="page-header">Modify {{ client.client.value }}</h1>
    {% else %}
    <h1 class="page-header">Create</h1>
    {% endif %}

    <form class="form-group" style="display: flex; flex-direction: column" action="{% url 'action'%}" method="post">
        <input type="hidden" name="action" value="{{ action }}"/>
        <input type="hidden" name="id" value="{{ client.id.value }}"/>

        {% for field in client.visible_fields %}
        <div class="clients-line-group col-sm-12">
            <label class="col-sm-1" for="{{ field.name }}">{{ field.label }}</label>
            {{ field }}
            {{ field.errors }}
            {{ field.help_text }}
        </div>
        {% endfor %}

        <div class="col-sm-11 col-sm-offset-1">
            <input class="btn btn-primary col-sm-1" type="submit" value="{{ action }}"/>
        </div>
        <div class="col-sm-11 col-sm-offset-1">
            <a href="{% url 'clients_list'%}">Return List</a>
        </div>
    </form>
</div>
<script>
(function() {
    var widget, initAddressFinder = function() {
        widget = new AddressFinder.Widget(
            document.getElementById('id_street'),
            'H7NVPB6DWLGTRAE9JF8C',
            'AU', {
                "address_params": {
                    "post_box": "0"
                }
            }
        );

        widget.on('address:select', function(fullAddress, metaData) {
            // TODO - You will need to update these ids to match those in your form
            document.getElementById('id_street').value = metaData.address_line_1+''+metaData.address_line_2;
            //document.getElementById('address_line_2').value = metaData.address_line_2;
            document.getElementById('id_suburb').value = metaData.locality_name;
            document.getElementById('id_state').value = metaData.state_territory;
            document.getElementById('id_postcode').value = metaData.postcode;

        });
    };

    function downloadAddressFinder() {
        var script = document.createElement('script');
        script.src = 'https://api.addressfinder.io/assets/v3/widget.js';
        script.async = true;
        script.onload = initAddressFinder;
        document.body.appendChild(script);
    };

    document.addEventListener('DOMContentLoaded', downloadAddressFinder);
})();
</script>