.client-container{ display: flex; flex: 1; flex-direction: column; align-content: space-between; margin: 30px;}
.clients-item{ margin-left: 5px; margin-right: 5px;}
.clients-line-group{ display: flex; flex-direction: row; align-content: space-between; margin: 8px;}
table.table thead {background-color:#337ab7; color: #fff;}

form ul.errorlist  {
    margin: 0;
    padding: 5px;
}
form ul.errorlist li {
    list-style: none;
    color: red;
}

